@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #3a86ff;
}
* {
  margin: 0;
  padding: 0;
}
.btn {
  @apply px-2 py-1 rounded-full bg-blue-200 hover:bg-blue-400 hover:text-white border-black;
}
